<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404339400960-u47d5j1rgr06gvsfejl0li0serqt9ksn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404339400960-u47d5j1rgr06gvsfejl0li0serqt9ksn</string>
	<key>API_KEY</key>
	<string>AIzaSyDkZNCZoiUMWmU07jxClYcqyklFpZti6w4</string>
	<key>GCM_SENDER_ID</key>
	<string>404339400960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>matheusvalbert.mobile</string>
	<key>PROJECT_ID</key>
	<string>mobile-ecd20</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-ecd20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404339400960:ios:3b7f8aeaac83227fd653e5</string>
</dict>
</plist>